<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag('admin') %>
    <title>Errand Folks</title>
  </head>


  <body>


    <nav class="navigation-bar">
      <a href="/" class="bloblogo">
        <%= image_tag("logo/blobicorn.png", :alt => 'blob', class: "logo") %>
      </a>
      <a href="/" class="bloblogo">Home</a>
      <a href="./contactUs.html" class="navig">Contact Us</a>
      <%= link_to("Log out", login_logout_path, class: "navig") %>
    </nav>


    <%= form_for(@post, :url => posts_path, :method => 'post') do |f| %>


      <label for="">Title: </label>
      <%= f.text_field(:title) %>

      <label for="">Category: </label>
      <%= f.text_field(:category) %>

      <%= label_tag(:kindOfPost, "Type: ")%>
      <%= f.text_field(:kindOfPost) %>

      <%= label_tag(:details, "Details: ") %>
      <%= f.text_field(:details) %>


      <%= f.submit("Submit") %>

    <% end %>


    <footer class="footerContext">

      <p class="footer-comp-motto">Let's Act As a Society.</p>

      <p class="footer-links">
        <a href="./index.html">Home</a>
        ·
        <a href="./contactUs.html">Help</a>
        ·
        <a href="#">Career</a>
        ·
        <a href="./aboutUs.html">About</a>
        ·
        <a href="#">FAQ</a>
        ·
        <a href="./contactUs.html">Contact</a>
      </p>

      <p class="footer-comp-name">Blobicorn &copy; 2019</p>

    </footer>


  </body>
</html>
