<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag('admin') %>
    <title>Errand Folks</title>
  </head>


  <body>

    <div>

      <nav class="navigation-bar">
        <a href="/" class="bloblogo">
          <%= image_tag("logo/blobicorn.png", :alt => 'blob', class: "logo") %>
        </a>
        <a href="#" class="navig">Offer a Service</a>
        <a href="#" class="navig">Categories</a>
        <a href="#" class="navig">Contact Us</a>

      </nav>

    </div>

    <h2>Delete User</h2>

    <p> Are you sure you want to delete? </p>

    <%= form_for(@user, :url => user_path(@user), :method => 'delete') do |f| %>
      <h2>Firstname: <%= @user.first_name %></h2>
      <h2>Lastname: <%= @user.last_name %></h2>

      <p> Email: <%= @user.email %> </p>

      <%= f.submit("Delete Account") %>
    <% end %>

    <footer class="footerContext">

      <p class="footer-comp-motto">Let's Act As a Society.</p>

      <p class="footer-links">
        <a href="./index.html">Home</a>
        ·
        <a href="#">Help</a>
        ·
        <a href="#">Career</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">FAQ</a>
        ·
        <a href="#">Contact</a>
      </p>

      <p class="footer-comp-name">Blobicorn &copy; 2019</p>

    </footer>


  </body>
</html>
