<p id="notice"><%= notice %></p>

<div class="show-post">
  <h2 class="show-post-title h2"><%= @post.title %></h2>
  <hr>
    <p>
      <strong>Service is:</strong>
      <%= @post.service.option %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @post.category.name %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @post.location.name %>
    </p>

    <p>
      <strong>Body:</strong>
      <%= @post.body %>
     </p>
     
     <p>
       <strong>Contact:</strong>
       <%= @post.email %>
     </p>

     <div class="show-post-btns">
        <% if signed_in? %>
           <% if (current_user.email == @post.email) %>
            <!-- < %= link_to 'Edit', edit_post_path(@post) %> | -->
            <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-lg btn-secondary"%> |
          <% end %>
        <% end %>
        <%= link_to 'Back', posts_path, class: "btn btn-lg btn-secondary" %>
      </div>
</div>
