<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "errand folks app", "/", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",  "/" %></li>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Posts",   index_path %></li>
        <li><%= link_to "Help",   '#' %></li>
        <% if signed_in? %>
          <li><%= link_to "Log out", sign_out_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", '/sign_in' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>





<!-- <header> -->
