<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag('admin') %>
    <title>Errand Folks</title>
  </head>


  <body>


    <nav class="navigation-bar">
      <a href="/" class="bloblogo">
        <%= image_tag("logo/blobicorn.png", :alt => 'blob', class: "logo") %>
      </a>
      <a href="/" class="bloblogo">Home</a>
      <a href="./contactUs.html" class="navig">Contact Us</a>
      <%= link_to("Sign up", new_user_path, class: "navig") %>
    </nav>

    <%= form_tag(login_attempt_login_path, :method => :post) do %>

      <% flash.each do |name, msg| %>
        <%= content_tag(:div, content_tag(:h5, msg), class: "errorMsg") %>
      <% end %>

      <%= label_tag(:username) %>
      <%= text_field_tag(:username, params[:username]) %>

      <%= label_tag(:password) %>
      <%= password_field_tag(:password) %>

      <%= submit_tag("Log In") %>
      <a href="#">Forgot Password?</a>

    <% end %>


    <footer class="footerContext">

      <p class="footer-comp-motto">Let's Act As a Society.</p>

      <p class="footer-links">
        <a href="./index.html">Home</a>
        ·
        <a href="./contactUs.html">Help</a>
        ·
        <a href="#">Career</a>
        ·
        <a href="./aboutUs.html">About</a>
        ·
        <a href="#">FAQ</a>
        ·
        <a href="./contactUs.html">Contact</a>
      </p>

      <p class="footer-comp-name">Blobicorn &copy; 2019</p>

    </footer>


  </body>
</html>
